<table class="table">
  <% unless current_page?(top_path) %>
  <thead>
    <tr>
      <td>
        青字カテゴリをクリック<br />
        で並び替え
      </td>
      <td class="text-nowrap"><%= sort_link(q, :title, "タイトル") %></td>
      <td><%= sort_link(q, :prefecture, "所在地") %></td>
      <td class="text-nowrap"><%= sort_link(q, :created_at, "投稿日") %></td>
      <td class="text-nowrap"><%= sort_link(q, :visited_day, "来訪日") %></td>
      <td class="text-nowrap"><%= sort_link(q, :rate, "評価") %></td>
      <td class="text-nowrap"><%= sort_link(q, :favorites_count, "いいね") %></td>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% spots.each do |spot| %>
      <tr>
        <td>
          <%= attachment_image_tag spot, :spot_image1, format: "jpeg", fallback: "noimage-1-760x460.png", class: "spot-image" %>
        </td>
        <td>
          <%= link_to spot_path(spot) do %>
            <%= spot.title %>
          <% end %>
        </td>
        <td class="text-nowrap"><%= spot.prefecture %><%= spot.city %></td>
        <td class="text-nowrap"><span class="responsive-label">投稿日：</span><%= spot.created_at.strftime("%Y年%-m月%-d日") %></td>
        <td class="text-nowrap">
          <% if spot.visited_day.nil? %>
            <span class="responsive-label">来訪日：</span>不明
          <% else %>
            <span class="responsive-label">来訪日：</span><%= spot.visited_day.strftime("%Y年%-m月%-d日") %>
          <% end %>
        </td>
          <% if spot.rate.nil? %>
            <td>無評価</td>
          <% else %>
            <td id="star-rate-<%= spot.id %>" class="text-nowrap"></td>
            <script>
              if(!$("#star-rate-<%= spot.id %> img").length) {
                $('#star-rate-<%= spot.id %>').raty({
                  size: 36,
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn: '<%= asset_path('star-on.png') %>',
                  readOnly: true,
                  score: <%= spot.rate %>,
                });
              }
            </script>
          <% end %>
        <td class="favorite-<%= spot.id %> text-nowrap">
          <%= render "favorites/list_favorite", spot: spot %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>