<div class="container px-5 mt-5 px-sm-0">

  <h3 class="mb-4">スポット一覧</h3>

  <div class="mb-5">
    <%= render "spots/search_spot", q: @q %>
  </div>
  <p class="mb-3">
    全<%= @spots.total_count %>件中、<%= @spots.offset_value + 1 %>〜<%= @spots.offset_value + @spots.length %>件目を表示(<%= @spots.current_page %>/<%= @spots.total_pages %>ページ)
  </p>
  <div class="spot-index mb-5">
    <%= render "spots/spot_index", spots: @spots, q: @q %>
    <%= paginate @spots, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
