<div class="container px-5 my-5 px-sm-0">

  <h3 class="mb-5">いいね数ランキング(スポット)</h3>

  <p class="my-5">
    ユーザーのいいね数ランキングは
    <%= link_to "こちら", user_favorite_ranking_path %>
  </p>

  <% if @all_ranks.count < 6 %>
    <div class="now-preparation mb-5 text-center">現在準備中です。</div>
    <div class="now-preparation-image"><img src="<%= asset_path "398656.jpg" %>" class="now-preparation-image-img"></div>
  <% else %>
    <div class="mb-5">
      <table class="table spot-favorite-ranking">
        <thead>
          <tr>
            <td>順位</td>
            <td></td>
            <td>タイトル</td>
            <td>所在地</td>
            <td>投稿日</td>
            <td>投稿ユーザー</td>
            <td>いいね数</td>
          </tr>
        </thead>
        <tbody>
          <% lastFavorite = 0 %>
          <% j = 1 %>
          <% @all_ranks.each.with_index(1) do |spot, i| %>
            <% break if j > 10 %>
            <% spot_favorites_count = spot.favorites.length  %>
            <% if i == 1 %>
              <% lastFavorite = spot_favorites_count %>
            <% end %>
            <% if @all_ranks.count <= 10 %>
              <tr>
            <% else %>
              <tr class="cut-final">
            <% end %>
                <% if spot_favorites_count != lastFavorite %>
                  <% j = i %>
                  <% if j == 1 %>
                    <td class="text-nowrap prize-1st">第1位<img src="<%= asset_path "1st_prize.jpg" %>" class="prize-1st-img"></td>
                  <% elsif j == 2 %>
                    <td class="text-nowrap prize-2nd">第2位<img src="<%= asset_path "2nd_prize.jpg" %>" class="prize-2nd-img"></td>
                  <% elsif j == 3 %>
                    <td class="text-nowrap prize-3rd">第3位<img src="<%= asset_path "3rd_prize.jpg" %>" class="prize-3rd-img"></td>
                  <% else %>
                    <td class="text-nowrap">第<%= j.to_s %>位</td>
                  <% end %>
                  <td><%= attachment_image_tag spot, :spot_image1, format: "jpeg", fallback: "noimage-1-760x460.png", class: "image-150" %></td>
                  <td>
                    <%= link_to spot_path(spot) do %>
                      <%= spot.title %>
                    <% end %>
                  </td>
                  <td><%= spot.prefecture %><%= spot.city %></td>
                  <td class="text-nowrap"><%= spot.created_at.strftime("%Y年%-m月%-d日") %></td>
                  <td>
                    <%= link_to user_path(spot.user) do %>
                      <%= spot.user.nickname %>
                    <% end %>
                  </td>
                  <td class="text-nowrap"><span class="fa fa-heart unlike mr-1"></span><%= spot_favorites_count %></td>
                  <% lastFavorite = spot_favorites_count %>
                <% else %>
                  <% lastFavorite = spot_favorites_count %>
                  <% if j == 1 %>
                    <td class="text-nowrap prize-1st">第1位<img src="<%= asset_path "1st_prize.jpg" %>" class="prize-1st-img"></td>
                  <% elsif j == 2 %>
                    <td class="text-nowrap prize-2nd">第2位<img src="<%= asset_path "2nd_prize.jpg" %>" class="prize-2nd-img"></td>
                  <% elsif j == 3 %>
                    <td class="text-nowrap prize-3rd">第3位<img src="<%= asset_path "3rd_prize.jpg" %>" class="prize-3rd-img"></td>
                  <% else %>
                    <td class="text-nowrap">第<%= j.to_s %>位</td>
                  <% end %>
                  <td><%= attachment_image_tag spot, :spot_image1, format: "jpeg", fallback: "noimage-1-760x460.png", class: "image-150" %></td>
                  <td>
                    <%= link_to spot_path(spot) do %>
                      <%= spot.title %>
                    <% end %>
                  </td>
                  <td><%= spot.prefecture %><%= spot.city %></td>
                  <td class="text-nowrap"><%= spot.created_at.strftime("%Y年%-m月%-d日") %></td>
                  <td>
                    <%= link_to user_path(spot.user) do %>
                      <%= spot.user.nickname %>
                    <% end %>
                  </td>
                  <td class="text-nowrap"><span class="fa fa-heart unlike mr-1"></span><%= spot_favorites_count %></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>