<h2>新規会員登録</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label>氏名(フルネーム)</label><br />
    <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname" %>
  </div>

  <div class="field">
    <label>ニックネーム</label><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <label>メールアドレス</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label>性別</label><br />
    <%= f.radio_button :sex, "男性" %>
    <label>男性</label>
    <%= f.radio_button :sex, "女性" %>
    <label>女性</label>
  </div>

  <div class="field">
    <label>生年月日</label><br />
    <%= f.date_field :birthday, class: 'form-control' %>
  </div>

  <div class="field">
    <label>住所(都道府県)</label><br />
    <%= f.select :prefecture, User.prefectures.keys %>
  </div>

  <div class="field">
    <label>住所(市区町村)</label><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>

  <div class="field">
    <label>パスワード(英数字6文字以上)</label><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <label>パスワード（確認）</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
