<h2>プロフィール編集</h2>

<%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |f| %>

  <div class="field">
    <%= f.label "氏名(フルネーム)" %><br />
    <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname" %>
  </div>

  <div class="field">
    <%= f.label "ニックネーム" %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "性別" %><br />
    <%= f.radio_button :sex, "男性" %>
    <%= f.label "男性" %>
    <%= f.radio_button :sex, "女性" %>
    <%= f.label "女性" %>
  </div>

  <div class="field">
    <%= f.label "生年月日" %><br />
    <%= f.date_field :birthday, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label "住所(都道府県)" %><br />
    <%= f.select :prefecture, User.prefectures.keys %>
  </div>

  <div class="field">
    <%= f.label "住所(市区町村)" %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>

  <div class="field">
    <%= f.label "プロフィール画像" %><br />
    <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "noimage-1-760x460.png", size: "100x100" %>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  </div>

  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <%= f.submit "更新する" %>

<% end %>