<h2>ユーザー一覧</h2>

<% @users.each do |user| %>
  <div>
    <div>
      フォト：
      <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "noimage-1-760x460.png", size: "100x100" %>
    </div>
    <p>ニックネーム：<%= user.nickname %></p>
    <p>年齢：<%= user.age %></p>
    <p>性別：<%= user.sex %></p>
    <p>都道府県：<%= user.prefecture %></p>
    <p>市区町村：<%= user.city %></p>
    <p>投稿数：<%= user.spots.count %></p>
    <p>フォロー数：<%= user.following.count %></p>
    <p>フォロワー数：<%= user.followers.count %></p>
  </div>
<% end %>
