<div class="container-xxl px-3 mt-5 px-sm-2">

  <div class="row justify-content-center" style="margin-left: 0; margin-right: 0;">
    <div class="col-md-3 px-3 mr-5">
      <% if current_user.present? && (@user.id == current_user.id) %>
        <h3 class="mb-4">マイページ</h2>
      <% else %>
        <h3 class="mb-4"><%= @user.nickname %> さん</h3>
      <% end %>

      <table class="table">
        <tr>
          <td colspan="2">
            <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "noimage-1-760x460.png", autocomplete: "profile_image", class: "image-200" %>
          </td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <td>性別</td>
          <td><%= @user.sex.to_s %></td>
        </tr>
        <tr>
          <td>年齢</td>
          <td><%= @user.age %>歳</td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @user.prefecture %><%= @user.city %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>フォロー数</td>
          <td>
            <%= link_to following_user_path(@user) do %>
              <%= @user.following.count %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>フォロワー数</td>
          <td>
            <%= link_to followers_user_path(@user), class: "followers" do %>
              <%= @user.followers.count %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>スポット数</td>
          <td><%= @user.spots.count %></td>
        </tr>
        <tr>
          <td>総いいね数</td>
          <td class="user-favorite-count-<%= @user.id %>"><%= @all_user_favorites_count %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
      <% if current_user.present? && (@user.id == current_user.id) %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-secondary mb-5" %>
      <% elsif current_user.present? && (@user.id != current_user.id) %>
        <div class="follow-form mb-5">
          <%= render "follow_relationships/list_follow_form", user: @user %>
        </div>
      <% end %>
    </div>
    <div class="col-md-7 px-3 ml-5 user-show-spot-index">
      <h3 class="mb-4">スポット一覧</h3>
      <%= render "spots/spot_index", spots: @spots, q: @q %>
      <%= paginate @spots, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
