<% provide(:title, @title) %>
<div class="container px-5 my-5 px-sm-0">
  <h3 class="mb-4"><%= @user.nickname %>さんの<%= @title %></h3>

  <table class="table follow-index">
    <% @users.includes(:spots).each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "noimage-1-760x460.png", class: "image-150" %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= user.nickname %>
          <% end %>
        </td>
        <td class="text-nowrap">
          フォロー数：
          <% if @following_count.has_key?(user.id) %>
            <%= link_to following_user_path(user) do %>
              <%= @following_count.fetch(user.id) %>
            <% end %>
          <% else %>
            0
          <% end %>
        </td>
        <td class="text-nowrap">
          フォロワー数：
          <% if @followers_count.has_key?(user.id) %>
            <%= link_to followers_user_path(user) do %>
              <%= @followers_count.fetch(user.id) %>
            <% end %>
          <% else %>
            0
          <% end %>
        </td>
        <td class="text-nowrap">
          <% if @user_spots_last_updated_at.has_key?(user.id) %>
            最終更新：<%= @user_spots_last_updated_at.fetch(user.id).strftime('%Y年%-m月%-d日') %>
          <% else %>
            投稿なし
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @users %>
</div>