<div class="container px-5 mt-5 px-sm-0">

  <h2>パスワード再発行</h2>

  <div class="row mt-3" style="margin-left: 0; margin-right: 0; padding-left: 0;">
    <%= form_with model: @user, url: user_password_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <table class="table table-borderless input-form">
        <tr>
          <td><%= f.label "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-width" %></td>
        </tr>
      </table>
      <%= f.submit "パスワード再発行メールを送る", class: "btn btn-success" %>
    <% end %>
  </div>

  <p class="my-5">
    会員の方は<%= link_to "こちら", new_user_session_path %>からログイン
  </p>

  <p class="mb-5">
    パスワードをお忘れの方は<%= link_to "こちら", new_user_password_path %>
  </p>

</div>
