<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      あなただけが知るおすすめスポットを、みんなに紹介しよう！<br />
      〜誰も知らない魅力が、今ここに〜<br />
    </p>
    <p class="main-visual-subtitle">
      日本各地のスポット投稿サイト
    </p>
    <p class="main-visual-title">
      JapanSiteInfo
    </p>
    </div>
    <div class="theTarget">
      <div class="theTarget-image1"></div>
      <div class="theTarget-image2"></div>
      <div class="theTarget-image3"></div>
      <div class="theTarget-image4"></div>
      <div class="theTarget-image5"></div>
    </div>
  </div>
<div>
  <h3>新着スポット</h3>
  <% @spots.each do |spot| %>
    <%= attachment_image_tag spot, :spot_image1, format: "jpeg", fallback: "noimage-1-760x460.png", size: "100x100" %>
    <p>
      <%= link_to spot_path(spot) do %>
        <%= spot.title %>
      <% end %>
    </p>
    <p>都道府県: <%= spot.prefecture %></p>
    <p>市区町村: <%= spot.city %></p>
    <p>投稿日: <%= spot.created_at.strftime("%Y年%-m月%-d日") %></p>
    <p>
      <% if spot.visited_day.nil? %>
        来訪日: 不明
      <% else %>
        来訪日: <%= spot.visited_day.strftime("%Y年%-m月%-d日") %>
      <% end %>
    </p>
    <% if spot.rate.nil? %>
      <p>無評価</p>
    <% else %>
      <p id="star-rate-<%= spot.id %>"></p>
      <script>
        $('#star-rate-<%= spot.id %>').raty({
          size: 36,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          readOnly: true,
          score: <%= spot.rate %>,
        });
      </script>
    <% end %>
    <div class="favorite-<%= spot.id %>">
      <%= render "favorites/list_favorite", spot: spot %>
    </div>
  <% end %>
  <%= paginate @spots %>
</div>

<% if current_user.nil? %>
  <div>
    <h3>スポットを探してみる</h3>
    <%= search_form_for @q do |f| %>
      <%= f.label "都道府県" %>
      <%= f.select :prefecture_eq, Spot.prefectures.map{|k, v| [Spot.prefectures_i18n[k], v]}, :include_blank => '指定なし' %>

      <%= f.label "市区町村" %>
      <%= f.search_field :city_cont %>

      <%= f.label "タイトル" %>
      <%= f.search_field :title %>

      <%= f.label "キーワード" %>
      <%= f.search_field :keywords_keyword_cont %>

      <%= f.submit "検索" %>
    <% end %>
  </div>
<% end %>