<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      あなただけが知るおすすめスポットを、みんなに紹介しよう！<br />
      〜誰も知らない魅力が、今ここに〜<br />
    </p>
    <p class="main-visual-subtitle">
      日本各地のスポット投稿サイト
    </p>
    <p class="main-visual-title">
      JapanSiteInfo
    </p>
  </div>
    <div class="theTarget">
      <div class="theTarget-image1"></div>
      <div class="theTarget-image2"></div>
      <div class="theTarget-image3"></div>
      <div class="theTarget-image4"></div>
      <div class="theTarget-image5"></div>
    </div>
  </div>
  <%= javascript_include_tag 'slideshow', 'data-turbolinks-track': 'reload' %>
</div>

<div class="notice">
  <% if flash.now[:notice] %>
    <p class="alert alert-success"><%= flash.now[:notice] %></p>
  <% elsif flash.now[:alert] %>
    <p class="alert alert-danger"><%= flash.now[:alert] %></p>
  <% end %>
</div>

<div class="container px-5 mt-5 px-sm-0">
  <% if current_user.nil? %>
    <h3 class="mb-4">スポットを探してみる</h3>

    <div class="mb-5">
      <%= render "spots/search_spot", q: @q %>
    </div>
  <% end %>

  <h3 class="mb-5">新着スポット</h3>

  <p class="mb-3">
    全<%= @spots.total_count %>件中、<%= @spots.offset_value + 1 %>〜<%= @spots.offset_value + @spots.length %>件目を表示(<%= @spots.current_page %>/<%= @spots.total_pages %>ページ)
  </p>
  <div class="spot-index mb-5">
    <%= render "spots/spot_index", spots: @spots, q: @q, cookies: @cookies %>
    <%= paginate @spots, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
