<h2>キーワード一覧</h2>

<%= search_form_for @q do |f| %>
  <%= f.label "都道府県" %>
  <%= f.select :spots_prefecture_eq, Spot.prefectures.map{|k, v| [Spot.prefectures_i18n[k], v]}, :include_blank => '指定なし' %>

  <%= f.label "市区町村" %>
  <%= f.search_field :spots_city_cont %>

  <%= f.label "キーワード" %>
  <%= f.search_field :keyword_cont %>

  <%= f.submit "検索" %>
<% end %>

<% @keywords.each do |keyword| %>
  <div>
    キーワード：
    <%= attachment_image_tag keyword.spots.last, :spot_image1, format: "jpeg", fallback: "noimage-1-760x460.png", size: "100x100" %>
    <%= link_to keyword_path(keyword) do %>
      <%= keyword.keyword %>
    <% end %>
  </div>
  <p>スポット投稿数：<%= keyword.spots.count %></p>
  <p>評価平均：<%= keyword.spots.average(:rate).round(2) %></p>
<% end %>

<%= paginate @keywords %>