<!DOCTYPE html>
<html>
  <head>
    <title>JapanSiteInfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e96cfe74ee.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div style="margin-bottom: 0;" class="text-light">
            <%= link_to "JapanSiteInfo", top_path, class: "navbar-brand", data: { turbolink: false } %>
            <% if user_signed_in? %>
              <%= link_to "　#{current_user.nickname}さん", user_path(current_user), class: "current-user-name text-light text-nowrap" %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="ml-4">
                  <% if uncheck_notifications.any? %>
                    <%= link_to " 通知", notifications_path, class: "fas fa-bell nav-link text-warning" %>
                  <% else %>
                    <%= link_to " 通知", notifications_path, class: "fas fa-bell nav-link text-light" %>
                  <% end %>
                </li>
                <li class="ml-4">
                  <%= link_to " 新規投稿", new_spot_path, class: "fas fa-plus-circle nav-link text-light" %>
                </li>
                <li class="ml-4 dropdown">
                  <a class="dropdown-toggle fas fa-atlas nav-link text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" area-haspopup="true" area-expanded="false">
                    一覧・その他
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to " スポット一覧", spots_path, class: "fas fa-atlas nav-link text-light" %>
                    <%= link_to " キーワード一覧", keywords_path, class: "fas fa-tags nav-link text-light" %>
                    <%= link_to " ユーザー一覧", users_path, class: "fas fa-users nav-link text-light" %>
                    <%= link_to " ランキング", spot_favorite_ranking_path, class: "fas fa-crown nav-link text-light" %>
                  </div>
                </li>
                <li class="ml-4">
                  <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
                </li>
              <% else %>
                <li class="ml-4">
                  <%= link_to " JSIとは？", about_path, class: "fas fa-question-circle nav-link text-light" %>
                </li>
                <li class="ml-4">
                  <%= link_to " 新規登録", new_user_registration_path, class: "fas fa-user-plus nav-link text-light" %>
                </li>
                <li class="ml-4">
                  <%= link_to " ログイン", new_user_session_path, class: "fas fa-sign-in-alt nav-link text-light" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if current_page?(top_path) %>
        <%= yield %>
      <% end %>
      <% unless current_page?(top_path) %>
        <div class="notice">
          <% if flash.now[:notice] %>
            <p class="alert alert-success"><%= flash.now[:notice] %></p>
          <% elsif flash.now[:alert] %>
            <p class="alert alert-danger"><%= flash.now[:alert] %></p>
          <% end %>
        </div>
        <%= yield %>
      <% end %>
    </main>
    <footer>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <p class="text-light mx-auto" style="margin-bottom: 0;">©︎2021 JapanSiteInfo.com</p>
      </nav>
    </footer>
  </body>
</html>
